.logo.link {
    display: block;
}

.header.logo.link {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-header {
    color: var(--logo-text-color);
}

.nav-item {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.current {
    color: var(--accent-color);

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        display: block;
        bottom: 0;
    }
}

.header-contacts-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header {
    border-bottom: 1px solid var(--line-header-color);
}

.nav-list.list {
    display: flex;
    align-items: center;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts.list {
    display: flex;
    margin-left: auto;
}

.header-contact-items:not(:last-child) {
    margin-right: 50px;
}

.navigation {
    display: flex;
}

.navigation>.logo.link {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-contact-icon {
    margin-right: 10px;
    fill: currentColor;
}